body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 600px;
    margin: auto;
    width: 94%;
}

.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}